{% from 'macros.html' import login_modal,register_modal ,logout_modal%}
<nav class="navbar navbar-expand-lg navbar-light bg-primary-subtle">
  <a class="navbar-brand ms-5 h5" href="{{url_for('home')}}">Kanban Board</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  {% if current_user.is_authenticated %}
  <div class="collapse navbar-collapse justify-content-end me-5" id="navbarNav">
    <button class="btn btn-primary mx-3" type="button" data-bs-toggle="modal"
      data-bs-target="#LogoutModal">Logout</button>
    <img class="rounded-circle float-end"
      src="https://eu.ui-avatars.com/api/?name={{current_user.username.replace(' ','+')}}&size=40" alt="Initials">
  </div>
  {{logout_modal(login_form,current_user)}}
  {% else %}
  <div class="collapse navbar-collapse justify-content-end me-5" id="navbarNav">
    <button class="btn btn-primary mx-3" type="button" data-bs-toggle="modal"
      data-bs-target="#LoginModal">Login</button>
    <button class="btn btn-secondary " type="button" data-bs-toggle="modal"
      data-bs-target="#RegisterModal">Register</button>
  </div>
  {{login_modal(login_form)}}
  {{register_modal(register_form)}}
  {% endif %}
</nav>