{% extends 'base.html' %}
{% from 'macros.html' import create_container_cards,create_update_modal, delete_modal,create_addtask_modal %}

{% block title %} Kanban {% endblock %}

{% block content %}
<div class="container-fluid pt-3">
   {%if current_user.is_authenticated %}
    <div class="small mx-4 ">Drag and drop between swim lanes</div>
    {%else%}
    <div class="small mx-4 bg-danger-subtle ">Login to drag and drop between swim lanes</div>
    {%endif%}
    <div class="row flex-row flex-sm-nowrap p-1 m-1">
        {{ create_container_cards("TO DO",tasks,current_user) }}
        {{ create_container_cards("IN PROGRESS",tasks,current_user) }}
        {{ create_container_cards("REVIEW",tasks,current_user) }}
        {{ create_container_cards("COMPLETE",tasks,current_user) }}
    </div>
</div>

{% endblock %}

{% block modal %}
{{create_update_modal(tasks,form)}}

{{delete_modal (tasks,form)}}
{{create_addtask_modal (form)}}
{% endblock %}